@using StuSherwin.Mvc.Models.Account
@model Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Username)
    @Html.EditorFor(m => m.Username)
    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)
    <input type="submit" value="Log in" class="button" />
}