<li id="music">
    <a href="@Url.Action("Index", "Post", new { category = "Music" })">        
        <div></div>
        <h2>Music</h2>
        <p>Experiments in playing and writing music</p>
    </a>
</li>