<li id="code" class="selected">
    <div></div>
    <h2>Code</h2>
    <p>My discoveries in trying to write better software</p>
    <ul>
        @if (ViewBag.Page == null && ViewBag.PostId == null)
        {
            <li class="selected">All posts (24)</li>
        }
        else
        {
            <li>@Html.ActionLink("All posts (24)", "Index", "Post", new { category = "Code" }, new { })</li>
        }
        @if (ViewBag.Page == "CV")
        {
            <li class="selected">Curriculum vitae</li>
        }
        else
        {
            <li>@Html.ActionLink("Curriculum vitae", "CV", "Code")</li>
        }
        @if (ViewBag.Page == "Download")
        {
            <li class="selected">Download this website</li>
        }
        else
        {
            <li>@Html.ActionLink("Download this website", "Download", "Code")</li>
        }
    </ul>
</li>