<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link  href="http://fonts.googleapis.com/css?family=Quattrocento:regular" rel="stylesheet" type="text/css" >
    <link  href="http://fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
    <link  href="http://fonts.googleapis.com/css?family=Didact+Gothic:regular" rel="stylesheet" type="text/css" >
    <link  href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:regular" rel="stylesheet" type="text/css" >
    <link  href="http://fonts.googleapis.com/css?family=Arvo:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
    <script src="@Url.Content("~/Scripts/jquery-1.4.1.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/HtmlContent.js"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="header">
                <h1>Stu Sherwin</h1>
                <div class="tagline">
                    <span class="selected">Developer</span> : 
                    <span>musician</span> :
                    <span>atheist</span>
                </div>
            </div>
            <p>Who am I?</p>
            <h2 class="selected">Code</h2>
                <ul>
                    <li>About me</li>
                    <li>Curriculum Vitae</li>
                </ul>
            <h2>Music</h2>
            <h2>Philosophy</h2>
            <div class="contact">
                <h2>Get in touch</h2>
                <div class="links">
                    <span>Email</span> : 
                    <span>Twitter</span> :
                    <span>Facebook</span>
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
