@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="header-container">
    <div id="header">
        @if(User.Identity.IsAuthenticated) { 
            <p>@Html.ActionLink("Log out", "Logout", "Account", new { returnUrl = Request.RawUrl }, new { })</p>
        }
        <h2>@Html.ActionLink("Site Administration", "Index", "Admin")</h2>
        <h1><a href="/">Stu Sherwin</a></h1>
    </div>
</div>
<div id="container">
    <div id="content">
        @RenderBody()
    </div>
</div>