@if (ViewBag.Category == "Code")
{
    <li id="code" class="selected">
        <h2><span></span>Code</h2>
        <div class="subnav">
            <div class="summary">A bit of text here about what it means to be writing code all of the time yo.</div>
            <ul>
                @if (ViewBag.Page == null && ViewBag.PostId == null)
                {
                    <li class="selected">All posts (24)</li>
                }
                else
                {
                    <li>@Html.ActionLink("All posts (24)", "Index", "Post", new { category = "Code" }, new { })</li>
                }
                @if (ViewBag.Page == "CV")
                {
                    <li class="selected">Curriculum vitae</li>
                }
                else
                {
                    <li>@Html.ActionLink("Curriculum vitae", "CV", "Code")</li>
                }
                @if (ViewBag.Page == "Download")
                {
                    <li class="selected">Download this website</li>
                }
                else
                {
                    <li>@Html.ActionLink("Download this website", "Download", "Code")</li>
                }
            </ul>
        </div>
    </li>
}
else
{
    <li id="code">
        <h2><a href="@Url.Action("Index", "Post", new { category = "Code" })"><span></span>Code</a></h2>
    </li>
}

