@if (ViewBag.Category == "Philosophy")
{
    <li id="philosophy" class="selected">
        <h2><span></span>Philosophy</h2>
        <div class="subnav">
            <div class="summary">I think about things and stuff.</div>
            <ul>
                @if (ViewBag.Page == null && ViewBag.PostId == null)
                {
                    <li class="selected">All posts (24)</li>
                }
                else
                {
                    <li>@Html.ActionLink("All posts (24)", "Index", "Post", new { category = "Philosophy" }, new { })</li>
                }
                @if (ViewBag.Page == "Page1")
                {
                    <li class="selected">Page 1</li>
                }
                else
                {
                    <li>@Html.ActionLink("Page 1", "Page1", "Philosophy")</li>
                }
            </ul>
        </div>
    </li>
}
else
{
    <li id="philosophy">
        <h2><a href="@Url.Action("Index", "Post", new { category = "Philosophy" })"><span></span>Philosophy</a></h2>
    </li>
}

