<div id="scroll">
    @if (ViewBag.Category != null)
    {
        if (ViewBag.PostId == null)
        {
            <a id="previous" href="#">
            </a>
            <a id="next" href="#">
            </a>
        }
        else
        {
            /*<a id="previous-post" href="#">
                <span></span>
                Previous post
            </a>
            <a id="next-post" href="#">
                Next post
                <span></span>
            </a>   */         
        }
    }
</div>
