<li id="philosophy">
    <a href="@Url.Action("Index", "Post", new { category = "Philosophy" })">
        <div></div>
        <h2>Philosophy</h2>
        <p>Ponderings on religion and the meaning of life</p>
    </a>
</li>