@using Website.Models 
@model IEnumerable<Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--@Html.ActionLink("New Post", "Create")-->
<h1>Some stuff</h1>
<div class="post-date">15th April 2010</div>
<p>Some text</p>
<div class="post-info"><a href="#">23 comments</a></div>

@foreach (var post in Model) {
    <h1>@post.Title</h1>
    <div class="post-date">15th April 2010</div>
    <!--@Html.ActionLink("View", "Display", new { id = post.Id }) 
    <text>&nbsp;</text>
    @Html.ActionLink("Edit", "Edit", new { id = post.Id }) 
    <text>&nbsp;</text>
    @Html.ActionLink("Delete", "Delete", new { id = post.Id })-->
    @Html.Raw(post.Body)
    <div class="post-info"><a href="#">23 comments</a></div>
}
