@model string

<div class="html-content">
    <div class="html-content-loader">
        <div class="html-content-loader-text">Loading editor...</div>
    </div>
    @Html.TextArea("", new { @class = "html-content-text" })
</div>