@model StuSherwin.Domain.Entities.Post

@{
    ViewBag.Title = "Edit post";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>Edit</h2>

<form method="post" action="" class="clear-fix">
    @Html.LabelFor(m => m.Title)
    @Html.EditorFor(m => m.Title)

    @Html.LabelFor(m => m.Body)
    @Html.EditorFor(m => m.Body)

    <input type="submit" value="Save" class="button" />
</form>