@using StuSherwin.Mvc.ViewModels.Admin
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h2>Import</h2>

<form action="" method="post" enctype="multipart/form-data">   
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file" />
  
  <input type="submit" value="Import" />
</form>

