<div id="contact">
    <h3>Contact or follow me:</h3>
    <ul>
        <li>
            <a id="email" href="mailto:stu@stusherwin.com" title="Email">Email</a>
        </li>
        <li>
            <a id="twitter" href="http://twitter.com/stusherwin" title="Twitter">Twitter</a>
        </li>
        <li>
            <a id="facebook" href="http://www.facebook.com/profile.php?id=604000279" title="Facebook">Facebook</a>
        </li>
        <li>
            <a id="stackoverflow" href="http://stackoverflow.com/users/136166/stusherwin" title="StackOverflow">StackOverflow</a>
        </li>
        <li>
            <a id="google-code" href="http://code.google.com/u/@@UhheS1BTAhJNVwd%2B/" title="Google Code">Google Code</a>
        </li>
    </ul>
</div>
