@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div id="content" class="post">
            <div class="margin-fix">
                @RenderBody()
            </div>
        </div>
        <div class="shadow-left"></div>
        <div class="shadow-right"></div>
        @Html.Partial("_Scroll")
