@model StuSherwin.Mvc.Models.Shared.Layout
<div id="tagline">
    @if (Model.Category == "Code")
    {
        <span id="developer" class="selected">Developer</span>
    }
    else 
    {
        @Html.ActionLink("Developer", "Index", "Post", new { category = "Code" }, new { id="developer" })
    }

    :

    @if (Model.Category == "Music")
    {
        <span id="musician" class="selected">Musician</span>
    }
    else 
    {
        @Html.ActionLink("Musician", "Index", "Post", new { category = "Music" }, new { id="musician" })
    }

    :

    @if (Model.Category == "Philosophy")
    {
        <span id="atheist" class="selected">Atheist</span>
    }
    else 
    {
        @Html.ActionLink("Atheist", "Index", "Post", new { category = "Philosophy" }, new { id="atheist" })
    }
</div>
